* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav.navbar ul.nav li {
    font-family: Arial;
}

.fondo {
    width: 100vw;
    height: 100vh;
}

.banner {
    width: 100vw;
    height: auto;
}

.resto {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100vw;
    height: 70vh;
    background-image: url(imagenes/fondo4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media only screen and (max-width: 799px) {
    .resto {
        background-image: url(imagenes/fondo4.png);
        opacity: 1.50;
    }
}

.bajo {
    width: 40vw;
    align-self: flex-end;
}

.datos {
    display: flex;
    align-self: center;
    width: 40vw;
    height: 70vh;
    background-color: transparent;
}

.carro {
    width: 40px;
    height: 40px;
}

.logo {
    width: 60px;
    height: 60px;
}

.flecha {
    width: 50px;
    height: 50px;
}

.buttons {
    align-self: flex-start;
    cursor: pointer;
    font-style: italic;
    font-size: large;
    margin-top: 20px;
    margin-left: 72px;
    width: 15vw;
    height: 5vh;
    background: #D55656;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.buttons:hover {
    background-color: #D55656;
    box-shadow: 2px 2px 20px #D55656, #fff 0 -1px 2px;
}

.item {
    width: 100vw;
    height: 5vh;
    background-color: blueviolet;
    font-weight: bolder;
    font-family: Arial;
    align-content: center;
    text-align: center;
    color: white;
}

.social {
    /*las imágenes usadas tienen width de 48px*/
    width: 48px;
    position: fixed;
    top: 50px;
    right: 0;
    top: 50%;
    height: 205px;
    margin-top: -100px;
}

.social a {
    margin-top: 5rem;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #D55656);
    border-radius: 10px;
}


/********************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    background-color: #eeeeee;
    font-family: 'Open Sans', serif;
    font-size: 14px
}

.container-fluid {
    margin-top: -420px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.40rem
}

.img-sm {
    width: 80px;
    height: 80px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.table-shopping-cart .price-wrap {
    line-height: 1.2
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.text-muted {
    color: #969696 !important
}

a {
    text-decoration: none !important
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[class*="dlist-"] {
    margin-bottom: 5px
}

.coupon {
    border-radius: 1px
}

.price {
    font-weight: 600;
    color: #212529
}

.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.btn-main {
    border-radius: 2px;
    margin-top: 50px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
    width: 100%
}

.btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}


/*********************************************************************************************/